<div class="row" [ngClass]="{'completed': item.completed}">
    <div class="title">
        <input type="checkbox" [checked]="item.completed" (change)="onToggle(item)" name="" id="">
        {{ item.title }}
    </div>
    <div class="price">
        {{ item.price | currency}}
    </div>
    <div class="quantity">
        {{ item.quantity }}
    </div>
    <div class="result">
        {{ (item.price * item.quantity) | currency}}
    </div>
    <div class="btn">
        <button (click)="onDelete(item)">Delete</button>
    </div>
</div>
