.row{
    display: flex;
    box-sizing: border-box;
}

.completed{
    color: #ccc;
    text-decoration: line-through;
}

.completed .result{
    color: #ccc;
}

div{
    padding: 5px 0;
}

.title{
    display: flex;
    width: 50%;
    padding: 0 5px;
}

.price{
    width: 15%;
    padding: 0 5px;
}

.quantity{
    width: 10%;
    padding: 0 5px;
}

.result{
    width: 15%;
    font-weight: bolder;
    color: green;
    padding: 0 5px;
}

.btn{
    width: 10%;
    text-align: center;
    box-sizing: border-box;
    padding: 0 5px;
}