<div>
    <app-item *ngFor="let item of items" [item]="item" (deleteItem)="deleteItem($event)" (toggleItem)="toggleItem($event)"></app-item>
    <app-result msg="Total to pay:  " [result]="result" ></app-result>
</div>