<form action="" (ngSubmit)="onSubmit()">
    <h2>Register to new item</h2>
    <div>
        <label for="">ID item:</label>
        <input type="number" name="id" id="" [(ngModel)]="title"/>{{id}}
    </div>
    <div>
        <label for="">Name item:</label>
        <input type="text" name="title" id="" [(ngModel)]="title"/>
    </div>
    <div>
        <label for="">Price: </label>
        <input type="number" name="price" id="" [(ngModel)]="price"/>
    </div>
    <div>
        <label for="">Quantity: </label>
        <input type="number" name="quantity" id="" [(ngModel)]="quantity"/>
    </div>
    <input type="submit" value="Create"/>
</form> 